.formcontato {
  background: #EAF2FD;
}

.formcontato__title {
  width: 141px;
  height: 38px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #464646;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.formcontato__subtext {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  /* Preto/100% */
  margin-bottom: 2rem;
  color: #464646;
}

.formcontato__form {
  width: 50rem;
}

.formcontato__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formcontato__contacto {
  padding: 3rem 1rem 3rem 1rem;
}

.full-width-input,
button {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
}

.example-section {
  margin: 12px 12px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
}

.example-margin {
  margin: 0 12px;
}

@media (max-width: 1024px) {

  .formcontato__title {
    font-size: 22px;
    line-height: 26px;
  }

  .formcontato__subtext {
    font-size: 16px;
    line-height: 19px;
  }

  .formcontato__form {
    width: 32rem;
  }
  .formcontato__contacto {
    padding: 4rem 2rem 4rem 2rem;
  }
  .formcontato__text {
    display: flex;
    flex-direction: column;
  }
  
  
}

/* Medium only */
@media (max-width: 480px) {
  .formcontato__title {
    font-size: 22px;
    line-height: 26px;
  }

  .formcontato__subtext {
    font-size: 16px;
    line-height: 19px;
  }

  .formcontato__form {
    width: 15rem;
  }

  .formcontato__contacto {
    padding: 3rem 1rem 3rem 1rem;
  }
}