
 <!-- Sección del Header/Title/Hero -->

 <section class="title">
    <div class="title__div">
        <div class="title__container">
            <h2 class="title__bio">{{title}}</h2>
            <h3 class="title__subsection">{{subtitle}}</h3>
            <br>
            <ul class="title__network">
                <li class="title__network__item" *ngFor="let item of itemsNetwork"><a [href]="item.link">{{item.name}} <img [src]="item.img"> </a></li>
            </ul>
        </div>
        <img class="title__profile" src="./assets/avatar.png"  alt="Imagen">
    </div>
</section>

