.title {
    display: flex;
    justify-content: space-around;
}

.title__div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0;
    margin: 4rem 12rem 0 12rem;
}

.title__network {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.title__network__item {
    list-style: none;
}

.title__network__item>a {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    /* Preto/100% */

    color: #464646;
}

.title__profile {
    width: 27rem;
    height: 25rem;
}

.title__bio {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;

    /* Preto/100% */

    color: #464646;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.title__subsection {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    /* Preto/100% */

    color: #464646;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.title__network__item {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    /* Preto/100% */

    color: #464646;
}

/* Medium only */
@media (max-width: 1024px) {
    .title__bio {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;

        /* Preto/100% */

        color: #464646;
    }

    .title__subsection {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        /* Preto/100% */

        color: #464646;

    }

    .title__profile {
        width: 146px;
        height: 146px;
    }

    .title__div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 0;
        margin: 2rem;
    }
}

/* Mobile only */
@media (max-width: 480px) {
  
    .title__bio {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;

        /* Preto/100% */

        color: #464646;
    }

    .title__subsection {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        /* Preto/100% */

        color: #464646;
    }

    .title__profile {
        width: 98px;
        height: 98px;
    }

    .title__div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        gap: 0;
        margin: 1rem;
    }
}