<body class="body" [ngClass]="{'dark-mode':darkMode}">
    <section class="menu">
        <header class="menu__header">
            <img class="icon" src="./assets/Vector.png">
            <h3 class="menu__title" [style]="!darkMode?'':'color:#fff;'">Yefri González</h3>
        </header>
        <nav class="nav__menu">
            <ul class="menu__list">
                <li class="menu__list__item" *ngFor="let item of items"><a [style]="!darkMode?'':'color:#fff;'" [href]="item.link">{{item.name}}</a></li>
            </ul>
            <li class="menu__list__item__contato" ><a [style]="!darkMode?'':'color:#fff;'" href="#contacto">Contactame</a></li>
            <button mat-icon-button matTooltip="Night Mode" (click)="changeMode()"><mat-icon>brightness_medium</mat-icon></button>
        </nav>
        
    </section> 
    <div *ngIf="darkMode">
        <br>
        <mat-divider></mat-divider>
        <br>
    </div>
    <app-header [darkTheme]="darkMode"></app-header>
    <div *ngIf="darkMode">
        <br>
        <br>
        <mat-divider></mat-divider>
    </div>
    <app-about [darkTheme]="darkMode" id="about"></app-about>
    <div *ngIf="darkMode">
        <br>
        <mat-divider></mat-divider>
        <br>
    </div>
    <app-skill [darkTheme]="darkMode" id="skills"></app-skill>
    <div *ngIf="darkMode">
        <br>
        <mat-divider></mat-divider>
        <br>
    </div>
    <app-hobbies [darkTheme]="darkMode" id="hobbies"></app-hobbies>
    <div *ngIf="darkMode">
        <br>
        <mat-divider></mat-divider>
        <br>
    </div>
    <app-academic  [darkTheme]="darkMode" id="academic"></app-academic>
    <div *ngIf="darkMode">
        <br>
        <mat-divider></mat-divider>
        <br>
    </div>
    <app-experience [darkTheme]="darkMode" id="experience"></app-experience>
    <div *ngIf="darkMode">
        <br>
        <mat-divider></mat-divider>
        <br>
    </div>
    <app-contact [darkTheme]="darkMode" id="contact"></app-contact>
    <div *ngIf="darkMode">
        <br>
        <mat-divider></mat-divider>
        <br>
    </div>
    <section [ngClass]="{'footer':!darkMode}">
        <div class="footer__rodape">
            <p>Desarrollado por Yefri González-2023</p>
        </div>
    </section>
</body>