body {
    background: #F5F5F5;
    margin: 0;
    padding: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 19px;
    text-align: center;

    /* Preto/100% */

    color: #464646;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.menu__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    color: #464646;
    ;
}

.nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;
}

.menu__list__item__contato {
    list-style: none;
    text-decoration: none;
}

.menu__list__item__contato>a {
    list-style: none;
    text-decoration: none;
    color: #464646;
    font-weight: bold;
}

.menu__list__item>a {
    text-decoration: none;
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 19px;
    color: #464646;
}

/* Medium only */
@media (max-width: 1024px) {
  
    /* CSS */
    .menu {
        display: flex;
        justify-content: space-between;
        margin: 2rem;
    }
    .menu__list {
        display: none;
    }

    .menu__list:last-child {
        display: block;
    }
   
}
/* Medium only */
@media (max-width: 480px) {
    .menu {
        display: flex;
        justify-content: space-between;
        margin: 1rem;
    }
    .menu__list {
        display: none;
    }

    .menu__list:last-child {
        display: block;
    }
   
    
}
