<div class="mat-app-background">
    <div class="px-1 md:px-2 lg:px-8 xl:px-8 pt-6">
        <section class="flex flex-nowrap justify-content-between mx-4 md:mx-5 lg:mx-8 xl:mx-8">
            <header class="flex align-items-center gap-3">
                <img class="icon" src="./assets/Vector.png">
                <h3>Yefri González</h3>
            </header>
           
            <ul class="list-none display-1 flex  justify-content-between align-items-center gap-5">
                <li *ngFor="let item of items" class="lg:flex xl:flex justify-content-between" id="menu__list">
                    <a matListItemTitle class="no-underline" [href]="item.link"><mat-label>{{item.name}}</mat-label></a>
                </li>
                <li><a matListItemTitle class="no-underline" href="#contact"><strong>Contacto</strong></a></li>
            </ul>
            <button mat-icon-button matTooltip="Night Mode" (click)="changeMode()"><mat-icon>brightness_medium</mat-icon></button>
        </section>
    </div>
    <mat-divider *ngIf="darkMode" class="mt-5 mb-5"></mat-divider>
    <app-header></app-header>
    <mat-divider *ngIf="darkMode" class="mt-5 mb-5"></mat-divider>
    <app-about [darkTheme]="darkMode" id="about"></app-about>
    <mat-divider *ngIf="darkMode" class="mt-5 mb-5"></mat-divider>
    <app-skill id="skills"></app-skill>
    <mat-divider *ngIf="darkMode" class="mt-5 mb-5"></mat-divider>
    <app-hobbies id="hobbies"></app-hobbies>
    <mat-divider *ngIf="darkMode" class="mt-5 mb-5"></mat-divider>
    <app-academic id="academic"></app-academic>
    <mat-divider *ngIf="darkMode" class="mt-5 mb-5"></mat-divider>
    <app-experience id="experience"></app-experience>
    <mat-divider *ngIf="darkMode" class="mt-5 mb-5"></mat-divider>
    <app-contact [darkTheme]="darkMode" id="contact"></app-contact>
    <mat-divider *ngIf="darkMode" class="mt-5 mb-5"></mat-divider>
    <div class="text-center pd-3 pb-4">
        <p class="text-xl">Desarrollado por Yefri González-2023</p>
    </div>
</div>