<section class="hobbies" id="hobbies">
    <h3 [style]="!darkTheme?'':'color:#fff;'" class="hobbies__title">Hobbies</h3>
        <div class="hobbies__line">
            <div class="hobbies__box" *ngFor="let hobbie of hobbies">
                <ul class="list__nav">
                    <li class="hobbies__img"><img [src]="hobbie.url" src="assets\skate_icon.png"></li>
                    <li  [style]="!darkTheme?'':'color:#fff;'" class="hobbies__name"> {{hobbie.name}}</li>
                </ul>
            </div>
    </div>
</section>
