<section class="academic" id="formacion">
    <div class="academic__container">
        <h2 class="academic__title" >Formación académica</h2>
        <div class="academic__courses">
            <div class="academic__courses__box" *ngFor="let course of courses">
                <ul class="academic__courses__list">
                    <!-- Pon el logotipo de la institución de formación -->
                    <li class="academic__courses__item__img"><img [src]="course.url"></li>
                    <li class="academic__courses__item__title"><h4>{{course.title}}</h4></li>
                    <li class="academic__courses__item__subtitle"><p>{{course.subttitle}}</p></li>
                </ul>
            </div>
        </div>
    </div>
    
</section>

