<section class="px-1 pt-8 md:px-2 lg:px-8 xl:px-8">
  <h2 class="text-3xl text-center pb-7">Experiencia Profesional</h2>
  <div class="block md:flex lg:flex xl:flex mx-4 md:mx-5 justify-content-center lg:mx-8 xl:mx-8 gap-7">
    <mat-card class="h-25rem mt-7" *ngFor="let exp of experiences">
      <mat-card-header>
        <mat-card-title>{{exp.title}}</mat-card-title>
        <mat-card-subtitle>{{exp.text}}</mat-card-subtitle>
      </mat-card-header>
      
      <mat-card-content>
        {{exp.info}}
        <mat-list  style="overflow-y: auto !important; max-height: 17rem;">
          <mat-list-item *ngFor="let item of exp.items"  style="overflow-y: auto;">
            <mat-icon matListItemIcon>done_all</mat-icon>
            <div matListItemTitle>{{item}}</div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</section>